{% extends "base.html" %}

{% block content %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr class="fieldWrapper">
                    {{ field.errors }}
                    <th>{{ field.label_tag }}</th> <td>{{ field }} </td>
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>
</div>

{% endblock content %}